.DS_Store
section3/venv
section3/blog/.DS_Store
section3/blog/.idea
section3/blog/__pycache__
section4/venv
section4/app/.idea
section5/venv
section5/starter_code/.idea
section6/venv
section6/starter_code/.idea
section7/venv
section7/starter_code/.idea
section7/starter_code/__pycache__
section7/starter_code/models/__pycache__
section7/starter_code/resources/__pycache__
section7/starter_code/data.db